@import "./fonts.css";

* {
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bottom-color: #3a4576;
    --main-color: #120d0e;
    --secondary-color: #3d3b3c;
    --secondary-text: #bebebe;
    --general-white: #ffffff;
    --background-color: #fafafa;
}

html {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
}

body {
    margin: 0 104px;

}

.container {
    width: 1262px;
    padding: 0 16px;
    margin: 0 auto;
}

.svg-sprites {
    position: absolute;
    visibility: hidden;
    width: 0;
    height: 0;
}

.top {
    display: grid;
    width: 100%;
}

.top__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.8rem;
    padding: 4rem 0;
    cursor: pointer;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--secondary-color);
}

.top__navigation a {
    text-decoration: none;
    color: var(--secondary-color);
}

.top__navigation a:hover {
    font-weight: 500;
    color: var(--main-color);
}

.top__navigation a:focus {
    text-decoration-line: line-through;
}

.content {
    width: 100%;
    display: flex;
    padding: 7.2rem 0;
    justify-content: space-between;
}

.content--left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title {
    font-size: 5.6rem;
    line-height: 6.6rem;
    font-weight: 500;
    color: var(--main-color);
    padding-bottom: 0.8rem;
}

.content--left_subtitle {
    font-size: 5.6rem;
    line-height: 6.6rem;
    font-weight: 500;
    color: var(--secondary-text);
    padding-bottom: 4rem;
}

.content--left__about {
    width: 100%;
    font-size: 2.2rem;
    line-height: 2.6rem;
    font-weight: 500;
    color: var(--secondary-color);
    padding-bottom: 7.2rem;
}

.content--left__about p:first-child {
    padding-bottom: 3rem;
}

.content--right {
    width: 40%;
}

.content--right img {
    width: 100%;
    object-fit: contain;
}

.submit {
    display: flex;
    gap: 2.4rem;
}

.submit__button,
.project__button{
    width: 18.5rem;
    height: 5.6rem;
    background-color: var(--bottom-color);
    color: var(--general-white);
    font-size: 2.4rem;
    line-height: 2.8rem;
    cursor: pointer;
    border: unset;
}

.skills,
.background-projects,
.background-languages{
    height: auto;
    background-color: var(--background-color);
    margin-right: -104px;
    margin-left: -104px;
    text-align: center;
    padding-bottom: 165px;
}

.skills__title {
    padding-top: 72px;
    padding-bottom: 54px;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.icons__col {
    width: 15%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
}

.icons__col--top {
    width: 100%;
    height: 12.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.icons p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    color: var(--secondary-color);
}

.label {
    position: relative;
}

.slider {
    position: absolute;
    bottom: -55%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    margin-bottom: 7.2rem;
    fill: #120d0e;
}

.experience {
    width: 100%;
    padding-bottom: 72px;
}

.experience--title {
    grid-column: 1 / 3;
    padding-top: 72px;
    padding-bottom: 56px;
    text-align: center;
}

.experience__content {
    display: grid;
    grid-template-columns: repeat(2, 50%);
}

.block-left{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    display: grid;
    padding-right: 16px;
    text-align: right;
}

.block-right{
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    border-left: 1px solid var(--secondary-color);
    padding-left: 16px;
    text-align: left;
}


.experience__content--soft {
    width: 100%;
}

.experience__content--soft::after{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--secondary-text);
    margin-right: -22px;
}

.experience__content--freelance {
    width: 100%;
    grid-row: 1 / 2;
}

.experience__content--freelance::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--bottom-color);
    margin-left: -22px;
}

.freelance--date p{
    color: var(--bottom-color);
}


.experience__content--hotel {
    width: 100%;
    grid-row: 3 / 4;
}

.experience__content--hotel::before{
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--secondary-text);
    margin-left: -22px;
}

.experience__col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

._content{
    width: 50%;
}

._date{
    width: 40%;
}

.freelance--date,
.hotel--date {
    order: 1;
}

.freelance_col,
.hotel_col {
    order: 2;
}

h4 {
    font-weight: 500;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--main-color);
}

h5 {
    font-weight: 400;
    padding-top: 4px;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--main-color);
}

._content p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.9rem;
    color: var(--secondary-text);
    padding-top: 8px;
}

.date {
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.8rem;
    color: var(--secondary-text);
}

.project__content{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(3, auto);
    row-gap: 5.6rem;
    column-gap: 13rem;
    justify-items: center;
    justify-content: center;
    margin-bottom: -93px;
    padding-bottom: 72px;
}

.projects__title{
    grid-row: 1 / 2;
    grid-column: 1 / span 2;
    padding-top: 72px;
    text-align: center;
}

.projects__img{
    grid-column: 1 / 2;
    grid-row:  2 / 3;
}

.project__description{
    position: relative;
    grid-column: 2 / 3;
    grid-row:  2 / 3;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.next__slider{
    position: absolute;
    width: 15px;
    height: 9px;
    rotate: 270deg;
    right: -8px;
    transform: translate(-31%, 100%);
    fill: var(--bottom-color);
    cursor: pointer;
}

.project__navigation{
    grid-row:  3 / 4;
    grid-column: 1 / 3;
}

.project__description h5{
    color: var(--secondary-text);
    padding-top: 0.8rem;
    padding-bottom: 7.2rem;
}

.next{
    position: relative;
    text-align: right;
    font-size: 1.6rem;
    line-height: 1.9rem;
    text-decoration-line: underline;
    color: var(--bottom-color);
    padding-bottom: 6rem;
    cursor: pointer;
}

.project__navigation{
    height: 17px;
}

.education{
    padding-bottom: 72px;
}

.languages{
    padding-top: 72px;
    padding-bottom: 72px;
    text-align: center;
}
.languages__row{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 56px;
}

.languages__row--col {
    width: 33%;
}

.languages__row--col svg{
    width: 18.2rem;
    height: 18.2rem;
    padding-bottom: 24px;
}












